<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :doc %>
    <%= form.file_field :doc %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.check_box :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
var student_id = "<%= student.id %>"
$('#student_status').click(function() {
  var checked; 
  if ($(this).is(':checked')) {
    checked = true;
  } else {
    checked = false;
  } 
  $.ajax({
      type: "POST",
      url: "/students/update_status",
      data: { id: student_id, status: checked, authenticity_token: $('[name="csrf-token"]')[0].content },
      success: function(res){
        alert(res['resp']);
      }
      //data: { id: 23, status: checked, authenticity_token: document.querySelector('meta[name="csrf-token"]').content }
   });     
});
</script>